



<mat-card>

  <mat-card-title>

    <span class="md-headline">ลงทะเบียนกิจกรรม {{ regisTitle }}</span>

  </mat-card-title>
  <mat-card-content>
      <div>ราละเอียด {{ regisDetail }}</div>
      <div>
      <form class="example-form">
        <mat-form-field class="example-full-width" >
          <input matInput placeholder="รหัสนักศึกษา">
        </mat-form-field>

        <mat-form-field class="example-full-width" >
          <input matInput placeholder="นาย/นาง/นางสาว" >
        </mat-form-field>

        <mat-form-field class="example-full-width" >
          <input matInput placeholder="ชื่อ"  >
        </mat-form-field>

        <mat-form-field class="example-full-width" >
          <input matInput placeholder="นามสกุล">
        </mat-form-field>
        <mat-form-field class="example-full-width" >
          <input matInput placeholder="นามสกุล">
        </mat-form-field>
        <mat-form-field class="example-full-width" >
          <input matInput placeholder="อีเมลล์">
        </mat-form-field>
        <mat-form-field class="example-full-width" >
          <input matInput placeholder="เบอร์โทรศัพท์">
        </mat-form-field>
        <button mat-raised-button> ลงทะเบียน</button>

      </form>
</div>

<div>

  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="stdid">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.stdid}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="prefix">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.prefix}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="fname">
        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.fname}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="lname">
        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lname}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>
</div>
  </mat-card-content>

</mat-card>

