<mat-card>

  <mat-card-title>

    <span class="md-headline">ลงทะเบียนกิจกรรม {{ regisTitle }}</span>

  </mat-card-title>
  <mat-card-content>
    <div>ราละเอียด {{ regisDetail }}</div>
    <div>
      <form novalidate #registerForm="ngForm" (ngSubmit)="register(registerForm.value)" class="example-form">
        <mat-form-field class="example-full-width">
          <input #stdid="ngModel" ngModel name="stdid" type="text" matInput placeholder="รหัสนักศึกษา">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input #prefix="ngModel" ngModel name="prefix" type="text" matInput placeholder="นาย/นาง/นางสาว">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input #fname="ngModel" ngModel name="fname" type="text" matInput placeholder="ชื่อ">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input #lname="ngModel" ngModel name="lname" type="text" matInput placeholder="นามสกุล">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input #email="ngModel" ngModel name="email" type="text" matInput placeholder="อีเมลล์">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input #tel="ngModel" ngModel name="tel" type="text" matInput placeholder="เบอร์โทรศัพท์">
        </mat-form-field>
        <button type="submit" mat-raised-button> ลงทะเบียน</button>

        <button type="reset" ng-click="clear(registerForm)" mat-raised-button> ล้าง</button>

      </form>
    </div>

  </mat-card-content>

</mat-card>
